<form action="./add" method="post">
    <input type="text" name="tenSP" placeholder="nhập tên sản phẩm" required>
    <input type="text" name="giaSP" placeholder="nhập giá sản phẩm" required>
    <button type="submit">Thêm</button>
</form>