<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="row align-items-end">
      <div class="col-3">
        <label for="">Lấy ra danh sách các sản phẩm có giá tiền dưới x đồng</label>
        <input
          class="form-control"
          type="text"
          name="inputPrice"
          placeholder="Nhập số tiền"
        />
      </div>
      <div class="col-2">
        <button id="getPrice" class="btn btn-success">GET</button>
      </div>

    </div>

    <hr />
    <div class="row align-items-end">
      <div class="col-3">
        <label for="">Lấy ra danh sách các sản phẩm trong khoảng từ x đến y</label>
        <input
          class="form-control"
          type="text"
          name="getX"
          placeholder="Nhập X"
        />
      </div>
      <div class="col-3">
        <label for="">Lấy ra danh sách các sản phẩm trong khoảng từ x đến y</label>
        <input
          class="form-control"
          type="text"
          name="getY"
          placeholder="Nhập Y"
        />
      </div>
      <div class="col-2">
        <button id="getXY" class="btn btn-success">GET</button>
      </div>
    </div>

    <hr />
    <label for="" style="display: inline;">Lấy ra danh sách các sản phẩm có CHỨA
      từ "hoa" trong tên</label>
    <button id="getName" class="btn btn-success">GET</button>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody id="list-product">
            {{#each data}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td><button class="btn btn-danger delete" data-id="{{ _id }}">Xoá</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
      integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const getPrice = document.getElementById("getPrice"); 
        const getXY = document.getElementById("getXY"); 
        const getName = document.getElementById("getName"); 
        const listProduct = document.getElementById("list-product"); 
        
        const inputPrice = document.querySelector("input[name='inputPrice']"); 
        const getX = document.querySelector("input[name='getX']");
        const getY = document.querySelector("input[name='getY']");

        const deleteEl = document.querySelectorAll(".delete");

        getPrice.addEventListener("click", async () => { 
          const { data } = await axios.get("/productsAPI/detailProductFind_price", { 
            params: { price: inputPrice.value }, 
          }); 
          let html = "";
          data.forEach((product) => {
            html = `
                <tr>
                    <td>${product._id}</td>
                    <td>${product.name}</td>
                    <td>${product.price}</td>
                    <td><button class="btn btn-danger delete" data-id="${product._id}">Xoá</button></td>
                </tr>
            `;
          });
          listProduct.innerHTML = html;
        });

        getXY.addEventListener("click", async () => { 
          const { data } = await axios.get("/productsAPI/detailProductFind_price", { 
            params: { x: getX.value, y: getY.value }, 
          }); 
          let html = "";
          data.forEach((product) => {
            const html = `
                <tr>
                    <td>${product._id}</td>
                    <td>${product.name}</td>
                    <td>${product.price}</td>
                    <td><button class="btn btn-danger delete" data-id="${product._id}">Xoá</button></td>
                </tr>
            `;
          });
            listProduct.innerHTML = html;
        });

        getName.addEventListener("click", async () => { 
          const { data } = await axios.get("/productsAPI/detailProductFind_name", { 
            params: { name: "hoa" }, 
          }); 
            let html = "";
          data.forEach((product) => {
            const html = `
               <tr>
                    <td>${product._id}</td>
                    <td>${product.name}</td>
                    <td>${product.price}</td>
                    <td><button class="btn btn-danger delete" data-id="${product._id}">Xoá</button></td>
                </tr>
            `;
          });
            listProduct.innerHTML = html;
        });

        // delete
        deleteEl.forEach((el) => {
          el.addEventListener("click", async (e) => {
            const id = e.target.getAttribute("data-id");
            console.log(e);
          });
        });

    })
    </script>
  </body>

</html>